body {
    background-color: rgba(224, 224, 238, 0.918);
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(49,40,56,1) 42%, rgba(23,72,78,1) 86%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(49,40,56,1) 42%, rgba(23,72,78,1) 86%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(49,40,56,1) 42%, rgba(23,72,78,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#17484e",GradientType=1);
    color: #c4f6ffd0;

    }
.text {
    color: #faf9f9ee;

}    

.title {
    text-align: center;

}
.h2 {
    margin: 20px;
}

img{
    width: 50%;
}
